/* Filter panel */
.filter-panel-container {
    padding: 5px;
}

.filter-text-field {
    min-width: 200px;
    color: var(--text-primary) !important;
}

.filter-text-f {
    width: 40%;
    gap: 20px;
    display: flex;

    justify-content: space-between;

}


/* product card  */

.product-stock-status {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: var(--text-secondary);
}

@media (max-width: 768px) {
    .filter-text-f {
        width: 100%;
        gap: 20px;
        display: flex;
        justify-content: space-between;

    }

    .filter-text-field .MuiInputBase-root {
        height: 38px !important;
    }

    .filter-text-field .MuiInputLabel-root {
        font-size: 0.75rem !important;
    }

    .filter-text-field .MuiInputBase-input {
        font-size: 0.75rem !important;
        padding: 6px 8px !important;
    }
}