:root {
    /* === Base Colors === */
    --background-color: #9accff;
    --background: #ffffff;
    --foreground: #101010;
    --background-hover: #f9f9f9;
    --background-secondary: #e0e7ee;
    --background-sp: #f1f5f9;

    --background-gradient: linear-gradient(135deg, #27b3ff, #22c55e);
    --background-gradient-1: radial-gradient(circle at top, #1e3a8a, #111827);
    --background-gradient-2: linear-gradient(180deg, #1e3a8a, #111827);
    --background-image: url('../../public/home-background-light.jpg');


    /* === Theme Colors === */
    --primary: #031246;
    --primary-hover: #2563eb;
    --secondary: #718096;
    --accent: #38b2ae;
    --danger: #e53e3e;
    --success: #38a169;
    --warning: #dd6b20;

    /* === Text === */
    --text-primary: #1a202c;
    --text-secondary: #4a5568;
    --text-title: #4299e1;

    --border: #ddd;

    /* === Typography === */
    --font-body: "Arial", sans-serif;
    --font-heading: "Segoe UI", sans-serif;
}

/* ===== DARK THEME ===== */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #0e1545;
        --background: #3b3a3a;
        --foreground: #ededed;
        --background-hover: #f5f0f023;
        --background-secondary: #5a5656;
        --background-sp: #272c31;

        --background-gradient: linear-gradient(135deg, #3a3a3a, #161616);
        --background-gradient-1: radial-gradient(circle at top, #1e3a8a, #111827);
        --background-gradient-2: linear-gradient(180deg, #1e3a8a, #111827);
        --background-image: url('../../public/home-background-dark.png');


        --primary: #5fb9f9;
        --primary-hover: #4299e1;
        --secondary: #a0aec0;
        --accent: #4fd1c5;
        --danger: #f56565;
        --success: #48bb78;
        --warning: #f6ad55;

        --text-primary: #f0f0f0;
        --text-secondary: #cccccc;
        --text-title: #4299e1;

        --border: #918f8f;
    }

    html {
        color-scheme: dark;
    }
}

/* Manual Dark Mode */
html.dark {
    --background: #3b3a3a;
    --foreground: #ededed;
    --background-hover: #f5f0f023;
    --background-secondary: #5a5656;
    --background-sp: #272c31;

    --background-gradient-1: radial-gradient(circle at top, #1e3a8a, #111827);
    --background-gradient-2: linear-gradient(180deg, #1e3a8a, #111827);
    --background-image: url('../../public/home-background-dark.png');
    --background-gradient: linear-gradient(135deg, #3a3a3a, #161616);

    --primary: #5fb9f9;
    --primary-hover: #4299e1;
    --secondary: #a0aec0;
    --accent: #4fd1c5;
    --danger: #f56565;
    --success: #48bb78;
    --warning: #f6ad55;

    --text-primary: #f0f0f0;
    --text-secondary: #cccccc;
    --text-title: #4299e1;

    --border: #918f8f;
}


/* Global body style */
body {
    margin: 0;
    background: var(--background);
    color: var(--text-primary);
    font-family: var(--font-body);
}