.page-container {
    padding: 30px;
    overflow-y: auto;
    overflow-x: hidden;
}

.loading-container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.error-container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--danger);
}

.page-header-title {
    color: var(--text-title);
}

/* home page  */

.home-page-container {
    background-image: var(--background-image);
    width: 100%;
    height: 70vh;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
}


/* product page */

.product-page-container {
    flex: 1;
    width: 100%;
    border-radius: 10px;
    background-color: var(--background-sp);
    padding: 20px;
    box-sizing: border-box;
}

.product-data-grid {
    border: 1px solid var(--border);
    background: var(--background);
    color: var(--text-primary);
}

.view-btn {
    background: var(--background-gradient) !important;
    color: var(--foreground) !important;
    text-transform: none;
}


@media (max-width: 768px) {

    .page-container {
        padding: 10px;
    }

    .home-page-container {
        padding: 10px;
    }

    .product-page-container {
        padding: 10px;
    }
}