body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-hover: #f9f9f9;
  --background-secondary: #e0e7ee;
  --background-sp: #f1f5f9;

  --background-gradient: linear-gradient(135deg, #2563eb, #22c55e);
  --background-gradient-1: radial-gradient(circle at top, #1e3a8a, #111827);
  --background-gradient-2: linear-gradient(180deg, #1e3a8a, #111827);

  /* --background-img: url('../../public/backgroundHRM1.jpg'); */

  /* === Theme Colors === */
  --primary: #3182ce;
  --primary-hover: #2563eb;
  --secondary: #718096;
  --accent: #38b2ac;
  --danger: #e53e3e;
  --success: #38a169;
  --warning: #dd6b20;

  /* === Text === */
  --text-primary: #1a202c;
  --text-secondary: #4a5568;
  --text-title: #4299e1;

  --border: #ddd;

  /* === Button === */
  --button-text: #f0f0f0;
  --button-background: #63b3ed;

  /* === Typography === */
  --font-body: "Arial", sans-serif;
  --font-heading: "Segoe UI", sans-serif;

  /* === Border & Radius === */
  --radius-none: 0;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;

  /* === Spacing === */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
}


/* ===== DARK THEME ===== */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3b3a3a;
    --foreground: #ededed;
    --background-hover: #f5f0f023;
    --background-secondary: #5a5656;
    --background-sp: #272c31;

    --background-gradient: linear-gradient(135deg, #2563eb, #22c55e);
    --background-gradient-1: radial-gradient(circle at top, #1e3a8a, #111827);
    --background-gradient-2: linear-gradient(180deg, #1e3a8a, #111827);

    /* --background-img: url('../../public/backgroundHRM2.png'); */

    /* Theme Colors */
    --primary: #63b3ed;
    --primary-hover: #4299e1;
    --secondary: #a0aec0;
    --accent: #4fd1c5;
    --danger: #f56565;
    --success: #48bb78;
    --warning: #f6ad55;

    /* Text */
    --text-primary: #f0f0f0;
    --text-secondary: #cccccc;
    --text-title: #4299e1;

    --border: #918f8f;

    /* === Button === */
    --button-text: #f0f0f0;
    --button-background: #63b3ed;

  }

  html {
    color-scheme: dark;
  }
}